<ion-view title="Add Client" id="add_client" hide-nav-bar="false">


    <ion-content padding="true" class="has-header">
        <form class="list">

            <ion-item class="item-divider">Information</ion-item>

            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="" ng-model="client.name">
            </label>

            <label class="item item-input">
                <span class="input-label">Phone</span>
                <input type="text" placeholder="(XXX) XXX-XXXX" ui-mask="(999) 999-9999" ng-model="client.phone">
            </label>

            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="" ng-model="client.email">
            </label>

            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="" ng-model="client.password">
            </label>

            <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="text" placeholder="" ng-model="client.address">
            </label>

            <ion-checkbox ng-model="client.is_same">Project address is same</ion-checkbox>

            <ion-item class="item-divider">Projects</ion-item>

            <ion-list>
              <ion-item class="item item-select" ng-repeat="modelItem in client.projects track by $index">
                    <span class="input-label">Select</span>
                    <select ng-model="modelItem" ng-options="item.name for item in projectlists"
                            ng-change="changedProject(modelItem, $index)"></select>
                    <ion-option-button class="button-assertive" ng-click="deleteProject($index)">Delete</ion-option-button>
                </ion-item>
            </ion-list>


            <button ng-click="addProject()" class="button button-positive button-block button-clear">
              + Add Project
            </button>

            <button class="button button-positive  button-block" ng-click="addClient()">
              Submit
            </button>

        </form>
    </ion-content>
</ion-view>
