<ion-view title="Distributor Control Panel" id="page17">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <button  class="button button-dark  button-block icon-left"
                    ng-class="distributor.is_verified ? 'ion-android-checkbox-blank' : 'ion-android-checkbox'">Pending
            </button>
            <button
                    class="button button-balanced  button-block icon-right"
                    ng-class="distributor.is_verified ? 'ion-android-checkbox' : 'ion-android-checkbox-blank'">Approved
            </button>
        </div>
        <div class="list card">
            <ion-item class="item-divider"> Distributor Rep Pending
                Approval
            </ion-item>
            <ion-item class="item-avatar item-icon-right">
                <h2>Distributor Rep</h2>
                <p>Pending Approval / Approved by XXXXX</p>
                <i class="icon ion-android-checkbox-blank"></i>
            </ion-item>
        </div>
        <div class="list card">
            <form class="list">
                <ion-toggle toggle-class="toggle-positive">Product</ion-toggle>
            </form>
            <ion-item class="item-divider"> New Product Pending
                Approvals
            </ion-item>
            <ion-item class="item-avatar item-icon-right">
                <h2>Product Name</h2>
                <p>Created by: / Approved by:</p>
                <i class="icon ion-android-checkbox-blank"></i>
            </ion-item>
            <ion-item class="item-divider"> Product Update Approvals
            </ion-item>
            <ion-item class="item-avatar item-icon-right">
                <h2>Product Name</h2>
                <p>Updated by: / Approved by:</p>
                <i class="icon ion-android-checkbox-blank"></i>
            </ion-item>
            <form class="list">
                <div class="button-bar"></div>
                <div class="button-bar">
                    <button class="button button-positive  button-block icon-left ion-android-list">Export All
                    </button>
                    <button class="button button-positive  button-block icon-left ion-qr-scanner">Print QR's
                    </button>
                </div>
                <div class="spacer" style="height: 100px;"></div>
            </form>
        </div>
    </ion-content>
</ion-view>
