<ion-view view-title="Order List">

  <ion-nav-buttons side="right">
      <button class="button" ui-sref="app.order-add">
          Add New
      </button>
  </ion-nav-buttons>

  <ion-content>


    <div class="list">

        <a class="item item-avatar" ng-repeat="item in orderData" ng-click="viewOrderDetail(item)">
          <img src="http://nex-gen-flooring.com/webapp-images/forklift.jpg">
          <h2>{{item.memo}}</h2>
          <p>Date: {{item.date}}, Price: ${{item.total_price}}</p>
        </a>

    </div>
  </ion-content>

</ion-view>
