<ion-view title="{{product.name}}" id="product-detail">

    <ion-nav-buttons side="right" ng-show="user_type == 3">
        <button class="button" ng-click="editProduct()">
            Edit
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header padding">
        <!-- <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3"
                     style="width:100%;height:200px;" ng-show="product.photos.length > 0">
            <ion-slide-page>
                <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center; height: 100%;">
                    <img src="{{product.image}}" style="width: 100%;">
                </div>
            </ion-slide-page>
        </ion-slides> -->
        <img src="{{product.image}}" alt="" style="width: 100%;">
        <div id="productDetail-container7" class="padding-container">
            <div class="row">
                <div class="col">
                    Status:
                </div>

                <div class="col text-right">
                    <label class="{{product.available ? 'label-available' : 'label-unavailable'}}">{{product.available
                        ? 'Available' : 'Unavailable'}}</label>
                </div>
            </div>
            <div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col col-60">
                        <div class="row padding-horizontal-zero">
                            <div class="col padding-horizontal-zero">
                                Material:
                            </div>
                            <div class="col">
                                <b>{{material}}</b>
                            </div>
                        </div>
                        <div class="row padding-horizontal-zero">
                            <div class="col padding-horizontal-zero">
                                Project:
                            </div>
                            <div class="col">
                                <b>{{project}}</b>
                            </div>
                        </div>
                        <div class="row padding-horizontal-zero">
                            <div class="col padding-horizontal-zero">
                                Distributor:
                            </div>
                            <div class="col-80">
                                <b>{{product.distributor_email}}</b>
                            </div>
                        </div>

                    </div>

                    <div class="col col-40 text-right" style="padding-top: 15px;">
                        <qrcode data="{{product._id}}"></qrcode>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col text-center">
                        <span class="price">PRICE: ${{price}}</span>
                    </div>
                </div>
                <div class="row" ng-show="product.per_carton">
                    <div class="col text-center">
                        <span class="price">CARTON PRICE: ${{product.per_carton}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <span class="price">COVERAGE AREA: {{product.area}}</span>
                    </div>
                </div>


                <div class="list">
                    <ion-toggle toggle-class="toggle-positive" ng-model="showShipping">Optional Shipping Info
                    </ion-toggle>
                    <label class="item item-input" ng-show="showShipping">
                        <span class="input-label">Min Shipping Cost</span>
                        <input type="text" placeholder="" ng-model="product.min_shipping_cost" ui-money-mask readonly>
                    </label>
                    <label class="item item-input" ng-show="showShipping">
                        <span class="input-label">Flat Fee</span>
                        <input type="text" placeholder="" ng-model="product.flat_fee" ui-money-mask readonly>
                    </label>
                    <label class="item item-input" ng-show="showShipping">
                        <span class="input-label">Min</span>
                        <input type="text" placeholder="" ng-model="product.shipping_min" ui-money-mask readonly>
                    </label>
                    <label class="item item-input" ng-show="showShipping">
                        <span class="input-label">Max</span>
                        <input type="text" placeholder="" ng-model="product.shipping_max" ui-money-mask readonly>
                    </label>
                </div>

                <div class="row">
                    <div class="col">
                        <a class="button button-block button-outline button-positive icon ion-android-call button-small">
                            &nbsp; Call Distributor</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col quantity-box">
                        <a class="button button-outline icon ion-android-remove"
                           ng-class="quantity == 1 ? 'disabled' : ''" ng-click="decreaseQuantity(quantity)"></a>
                        <input ng-model="quantity" type="number" class="text-center">
                        <a class="button button-outline icon ion-android-add" ng-click="increaseQuantity(quantity)"></a>
                    </div>
                    <div class="col">
                        <button class="button button-positive button-block" ng-click="addToClient()" ng-show="!is_added" style="margin: 0px;">Add to Client</button>
                        <button class="button button-positive button-block" ng-click="updateQuantity()" ng-show="is_added" style="margin: 0px;">Update Quantity</button>
                        <!--<button class="button button-dark button-block" ng-show="user.type == 1" style="margin: 0px;"-->
                                <!--ng-click="addToStore()">Add to Store-->
                        <!--</button>-->
                    </div>
                </div>

                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Distributor Name</span>
                        <input type="text" placeholder="" ng-model="distributor.name" readonly>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Phone Number</span>
                        <input type="text" placeholder="" ng-model="distributor.phone" ui-mask="(999) 999-9999" readonly>
                    </label>
                </div>
            </div>
            <a ui-sref="menu.stores" id="productDetail-button46" ng-hide="true"
               class="button button-positive  button-block">Tap me!</a>
        </div>
    </ion-content>
</ion-view>
