<ion-view title="Add Product">
    <ion-content padding="true" class="has-header">
        <div class="top-image-box">
            <div>
                <img src="img/HqacYlfBSRSOooiw2Ert_no-image-icon-13.png"
                     style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;"
                     ng-src="{{product.image}}">
            </div>
            <div class="control-box">
                <div class="spacer" style="width: 300px; height: 76px;"></div>
                <button class="button button-dark  button-clear icon ion-android-camera photo-icon-button"  type="file"
                ngf-select="uploadFile($file)" ngf-pattern="'image/*'"
                ngf-accept="'image/*'"></button>
            </div>
        </div>

        <div>
            <form class="list">

                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="" ng-model="product.name">
                </label>

                <label class="item item-input">
                    <span class="input-label">Distributor</span>
                    <ion-select-autocomplete multi-select="false" output="product.distributor"
                                             header="Choose Distributor" label-key="name" value-key="name"
                                             options="distributors">
                    </ion-select-autocomplete>
                </label>

                <ion-item class="item item-select">
                      <span class="input-label">Material</span>
                      <select ng-model="modelItem" ng-options="item.name for item in materiallists"
                              ng-change="changedMaterial(modelItem )"></select>
                </ion-item>

                  <ion-item class="item item-select">
                        <span class="input-label">Project</span>
                        <select ng-model="modelItem" ng-options="item.name for item in projectlists"
                                ng-change="changedProject(modelItem)"></select>
                  </ion-item>
            </form>
        </div>

        <form  class="list">
            <ion-toggle ng-model="availble.checked" ng-change="availableChange()">
                Available
            </ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-model="product.is_show_cost">Show Cost
                &amp; Markup
            </ion-toggle>
            <lavel class="item" ng-show="product.is_show_cost" style="padding: 0px;">
                <div class="row" style="padding: 0px;">
                    <div class="col" style="padding: 0px;">
                        <label class="item item-input" style="border: none;">
                            <span class="input-label">Cost</span>
                            <input type="number" placeholder="" ng-model="product.cost" ui-money-mask>
                        </label>
                    </div>
                    <ion-item class="item item-select" style="width: 50%;">
                          <span class="input-label">Per</span>
                          <select ng-model="costItem" ng-options="item.name for item in costlists"
                                  ng-change="changedCostPer(costItem)"></select>
                    </ion-item>
                </div>
            </lavel>
            <label class="item item-input" ng-show="product.per.value == 'YARD' && product.is_show_cost">
                <span class="input-label">Cost Per Carton</span>
                <input type="text" placeholder="" ng-model="product.per_carton" ui-money-mask>
            </label>

            <ion-item class="item-divider" ng-show="product.is_show_cost"> Mark up (%)
            </ion-item>

            <ion-item class="range range-positive" ng-show="product.is_show_cost">
                <span>50</span>
                <input type="range" value="50" min="50" max="250" step="1" ng-model="product.mark_up_percent">
                <span>250</span>
            </ion-item>

            <ion-toggle toggle-class="toggle-positive" ng-model="product.is_show_customSize">Add Custom Size
            </ion-toggle>

            <label class="item item-input" ng-show="product.is_show_customSize">
                <span class="input-label">Length</span>
                <input type="number" placeholder="" ng-model="product.length">
            </label>

            <label class="item item-input" ng-show="product.is_show_customSize">
                <span class="input-label">Width</span>
                <input type="number" placeholder="" ng-model="product.width">
            </label>

            <label class="item item-input" ng-show="product.is_show_customSize">
                <span class="input-label">Coverage Area</span>
                <input type="number" placeholder="" ng-model="product.coverage_area">
            </label>

            <ion-toggle toggle-class="toggle-positive" ng-model="product.is_show_optional">Optional Shipping Info
            </ion-toggle>

            <label class="item item-input" ng-show="product.is_show_optional">
                <span class="input-label">Min Shipping Cost</span>
                <input type="number" placeholder="" ng-model="product.min_shipping_cost" ui-money-mask>
            </label>
            <label class="item item-input" ng-show="product.is_show_optional">
                <span class="input-label">Flat Fee</span>
                <input type="number" placeholder="" ng-model="product.flat_fee" ui-money-mask>
            </label>

            <label class="item item-input" ng-show="product.is_show_optional">
                <span class="input-label">Min</span>
                <input type="number" placeholder="" ng-model="other.shipping_min" ui-money-mask>
            </label>

            <label class="item item-input" ng-show="product.is_show_optional">
                <span class="input-label">Max</span>
                <input type="number" placeholder="" ng-model="other.shipping_max" ui-money-mask>
            </label>

            <label class="item item-input">
                <span class="input-label">Total</span>
                <input type="number" placeholder="" ng-model="product.price" ui-money-mask>
            </label>

            <!-- <ion-item class="item-divider"> Photos</ion-item>

            <div class="row" style="padding-left: 10px; padding-right: 10px;">
                <div class="img-box" ng-repeat="item in product.photos">
                    <img src="{{item}}">
                </div>
                <div>
                  <button class="button btn-add-photo post-butotn" type="file"
                  ngf-select="uploadFile($file)" ngf-pattern="'image/*'"
                  ngf-accept="'image/*'">
                  <i class="icon ion-plus"></i>
                </button>
                </div>
            </div> -->
        </form>
        <p class="text-center">
            Price:
            <b style="font-size: 20px; color: red;">${{ getPrice() | number : 2 }}</b>
        </p>
        <button ng-click="addProduct()" class="button button-block button-positive">Submit
        </button>
    </ion-content>
</ion-view>
